<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    loginsucess
    <a href="/logout" class="">Logout</a>
    <a href="/addform"> ADD Doctors</a>
  </body>
</html>
