<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="loginstyles.css">
  </head>

<body >

  <nav class="navbar">
    <a  href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Suggestions</a>
    <a href="#">Contact Us</a>
    <a href="#">Login</a>
  </nav>
<div class="container">


     <div class="row align-items-center box">
       <form class="admin col-lg-4 " action="/adminlogin" method="get">
         <div class="imageconatainer">
           <img class="imageavatar" src="admin.jpg" alt="admin avatar">
           <h5 class="sectionname">ADMIN</h5>
           <button type="submit" name="button" post="/admin">View</button>
         </div>
       </form>
         <form class="patient col-lg-4" action="/patientlogin" method="get">
           <div  class="imageconatainer">
             <img class="imageavatar" src="patient.jpg" alt="admin avatar">
             <h5 class="sectionname">PATIENT</h5>
             <button type="submit" name="button" post="/admin">View</button>
           </div>
         </form>
       <form class="doctor col-lg-4" action="doctorlogin" method="post">
         <div  class="imageconatainer">
           <img class="imageavatar" src="doctor.jpg" alt="admin avatar">
           <h5 class="sectionname" color="gold">DOCTOR</h5>
           <button type="submit" name="button" post="/admin">View</button>
         </div>
       </form>
     </div>


</div>

<div class="footer">
  <h2>Footer</h2>
</div>
  

</body>

</html>