<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>welcome to your profile ,<%= patient.username%></h1>
      <a href="/auth/logout"><button class="btn btn-danger btn-lg" type="submit">logout</button></a>
  </body>
</html>
