<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="login.css">
</head>

<body class="page">
  <fieldset class=" px-5 py-5 loginbox">
    <h1>Welcome </h1>
    <form class="border border-warning px-5 py-5 float-left" id="patient-login">
      <div class="mb-3">
        <label class="form-label" for="Username">Username</label>
        <input class="form-control" type="text" id="username" name="username" value="" required>
      </div>
      <div class="mb-3">
        <label for="password">Password</label>
        <input class="form-control" id="password" type="text" name="password" value="" required>
      </div>
      <div class="">
        <input type="checkbox" name="" value="">
        <label for="">remember me</label>
        <a class="float-right" href="#">Forgot password</a>
      </div>
      <button class="btn btn-danger btn-lg" type="submit" >Login</button>
      <div class="float-right">
        <label for="">Don't have an account?</label><a color:"#ff0000" href="/SignUp">Sign Up</a>
      </div>
    </form>
    

  </fieldset>

</body>

</html>
