body{
  background-image: url(loginlandingpage6.jpg);

  background-size: cover;

}
div{
  display: inline-block;


}
form{text-align: center;
  width:auto;
  background-color: rgba(0,0,0,0);
  padding: 20px 10px 10px;
border:2px 2px 2px 2px solid gold ;
}

input{
  padding:20px;
  border-radius: 50px;
  position: relative;
}
button{
  width:92%;
  color: white;
  cursor:pointer;
  background-color: black;
  padding:14px 20px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.3;
}
.imageavatar{
  width:250px;
  height: :500%;
}
.imageconatainer{
  text-align:center;
}

.sectionname{
  color: red;
}
.navbar {
  overflow: hidden;
  /* background-color: #333; */
  background-color: rgba(0,0,0,0.8);
}
.container{
  margin: 5% 20% 20%;

}
.box{

  background-color: rgba(0,0,0,0.3);
  margin:10% 10% 10% 10%;
}
