body{
  background-image: url(loginlandingpage.jpg);

  background-size: cover;
  margin: 200px 300px 100px;
}
div{
  display: inline-block;
  background-color: rgba(0,0,0,0.5);

}
form{text-align: center;
  width:auto;
  background-color: rgba(0,0,0,0)
  padding: 20px 10px 10px;
border:2px 2px 2px 2px solid gold ;
}

input{
  padding:20px;
  border-radius: 50px;
  position: relative;
}
button{
  width:92%;
  color: white;
  cursor:pointer;
  background-color: black;
  padding:14px 20px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.3;
}
.imageavatar{
width:250px;
height: :500%;
}
.imageconatainer{
  text-align:center;
}
.box{
  height:500px;
  padding: 50px 50px 50px 50px;
}
